.col-text-center {
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.col-center {
	margin: 0 auto;
	width: 50%;
	/*   color: #555;
  border: 1px solid #ccc;
  border-radius: 4px; */
}

.border {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

.underline {
	border-bottom: 1px solid #8ae234;
}

.red-text {
	text-decoration: blink;
	text-decoration-color: red;
}

.red-text {
	text-decoration: blink;
	text-decoration-color: green;
}

.loader {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: none;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	-moz-opacity: 0.8;
}

.center-loader {
	z-index: 1000;
	margin: 400px auto;
	padding: 10px;
	width: 130px;
	background-color: none;
	border-radius: 10px;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

.center-loader img {
	height: 128px;
	width: 128px;
}

 .visContainer {
   width: 900px;
   height: 600px;
   border: 1px solid lightgray;
 }
 
 /* https://github.com/codepo8/css-fork-on-github-ribbon */
.viewongithub a {
    background: #6495ED;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1.25rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}
.viewongithub a:hover {
    background: #c11;
    color: #fff;
}
.viewongithub a::before,
.viewongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}
.viewongithub a::after {
    bottom: 1px;
    top: auto;
}
@media screen and (min-width: 800px) {
    .viewongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    .viewongithub a {
        width: 200px;
        position: absolute;
        top: 45px;
        right: -45px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    }
}
